.footer {
  background-color: #232426;
  padding: 20px 0;

  @include overTab {
    padding: 40px 0;
  }
  &-logo {
    text-align: center;
    a {
      color: #fff;
      font-size: 28px;
      font-weight: bold;

      @include overTab {
        font-size: 36px;
      }
      span {
        color: #00528c;
      }
    }
  }
}

.copyright {
  margin-top: 10px;
  text-align: center;
  color: #fff;
  font-size: 10px;

  @include overTab {
    font-size: 12px;
  }
}